name: DA DP Run Holding Verification App Tests
on:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: read
jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Upgrade pip & Run unittest
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m unittest
